h1 {
    text-align: center;
}

h6 {
    text-align: center;
}

div.block {
    margin-left: 16%;
    margin-right: auto;
    margin-bottom: 100px;
    max-width: 55%;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

aside {
    padding-top: 6%;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 16%;
    height: 100%;
    text-align: center;
    background-color: #FFFFFF;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
}

textarea.profile {
    border: 0px;
    margin-left: 3%;
    width: 67%;
    height: 120px;
    resize: none;
}

textarea.new {
    border: 0px;
    margin: 1%;
    width: 100%;
    min-height: 100px;
    resize: height;
}

form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    max-width: 33%;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
}