{% extends "base.html" %}

{% block content %}
<div class="block">
    <h1>{{ title }}</h1>
    <br>
    <a class="btn btn-success" href="/news/Спорт" style="width: 31%;
    height: 110px; margin: 1%; border-radius: 10px; padding: 4%;">Спорт</a>
    <a class="btn btn-secondary" href="/news/Музыка" style="width: 31%;
    height: 110px; margin: 1%; background-color: #AB5DFD; border-radius: 10px; padding: 4%;">Музыка</a>
    <a class="btn btn-warning" href="/news/Политика" style="width: 31%;
    height: 110px; margin: 1%; border-radius: 10px; padding: 4%;">Политика</a>
    <a class="btn btn-info" href="/news/IT" style="width: 31%;
    height: 110px; margin: 1%; border-radius: 10px; padding: 4%;">IT</a>
    <a class="btn btn-primary" href="/news/Искусство" style="width: 31%;
    height: 110px; margin: 1%; border-radius: 10px; padding: 4%;">Искусство</a>
    <a class="btn btn-success" href="/news/Наука" style="width: 31%;
    height: 110px; margin: 1%; border-radius: 10px; padding: 4%;">Наука</a>
    <a class="btn btn-danger" href="/news/Юмор" style="width: 31%;
    height: 110px; margin: 1%; border-radius: 10px; padding: 4%;">Юмор</a>
    <a class="btn btn-secondary" href="/news/Другое" style="width: 31%;
    height: 110px; margin: 1%; border-radius: 10px; padding: 4%;">Другое</a>
</div>
{% endblock %}