{% extends "base.html" %}

{% block content %}
<div class="block">
    <h1>{{ title }}</h1>
    <br>
    <a class="btn btn-success" href="/news/Спорт" style="width: 29%; height: 100px; margin: 2%; border-radius: 10px;">Спорт</a>
    <a class="btn btn-secondary" href="/news/Музыка" style="width: 29%; height: 100px; margin: 2%; background-color: #AB5DFD; border-radius: 10px;">Музыка</a>
    <a class="btn btn-warning" href="/news/Политика" style="width: 29%; height: 100px; margin: 2%; border-radius: 10px;">Политика</a>
    <br>
    <a class="btn btn-info" href="/news/IT" style="width: 29%; height: 100px; margin: 2%; border-radius: 10px;">IT</a>
    <a class="btn btn-primary" href="/news/Искусство" style="width: 29%; height: 100px; margin: 2%; border-radius: 10px;">Искусство</a>
    <a class="btn btn-success" href="/news/Наука" style="width: 29%; height: 100px; margin: 2%; border-radius: 10px;">Наука</a>
    <br>
    <a class="btn btn-danger" href="/news/Юмор" style="width: 29%; height: 100px; margin: 2%; border-radius: 10px;">Юмор</a>
    <a class="btn btn-secondary" href="/news/Другое" style="width: 29%; height: 100px; margin: 2%; border-radius: 10px;">Другое</a>
</div>
{% endblock %}