{% extends "base.html" %}

{% block content %}
<div class="block">
    <h1>{{ title }}</h1>
    <br>
    <a class="btn btn-success" href="/create_chat" style="width: 80%; margin-left: 10%;">Создать чат</a>
    {% for chat in current_user.chats %}
        <br>
        <div class="chat">
            <h3>{{ chat.name }}</h3>
            <hr>
            <p>{{ chat.last_message }}</p>
            <h6 style="text-align: right;"> {{ chat.last_message_dt }}</h6>
        </div>
    {% endfor %}
</div>
{% endblock %}