{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="post" class="form" style="max-width: 40%;">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.category.label }}
        {{ form.category(class="form-control") }}<br>
        {% for error in form.category.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.submit(type="submit", class="btn btn-primary") }}
        {% if title == 'Редактировать запись' %}
            <a class="btn btn-danger" href="/delete_new/{{ id }}" style="margin-left: 85%;">Удалить новость</a>
        {% endif %}
    </p>
</form>
{% endblock %}