{% extends "base.html" %}

{% block content %}
<div class="block">
    {% if requests %}
        <h3 style="text-align: center;">Запросы</h3>
        {% for user in requests %}
            <div class="alert alert-success" role="alert" style="margin: 1%;">
                <h3><a href="/users/{{ user.id }}" style="text-decoration: none; color: black;">{{ user.name }} {{ user.surname }}</a></h3>
                <a class="btn btn-success" href="/add_friend/{{ user.id }}">Добавить в друзья</a>
            </div>
        {% endfor %}
    {% endif %}
    <h1>друзья</h1>
    <br>
    {% if friends %}
        <h6>Всего друзей: {{ friends_count }}</h6>
        {% for friend in friends %}
            <br>
            <div style="margin: 1%; padding: 1%;">
                <img src="{{ friend.image }}" width=100px height=100px align="left">
                <h3 style="position: relative; left: 3%; top: 30px;"><a href="/users/{{ friend.id }}" style="text-decoration: none; color: black;">{{ friend.name }} {{ friend.surname }}</a></h3>
            </div>
            <br>
            <br>
            <hr>
        {% endfor %}
    {% else %}
        <h6>Друзей нет((((</h6>
    {% endif %}
</div>
{% endblock %}