{% extends "base.html" %}

{% block content %}
<div class="block">
    <h1>{{ title }}</h1>
    {% if title == 'Новости' %}
        <br>
        <a class="btn btn-success" href="/create_news" style="width: 80%; margin-left: 10%;">Создать запись</a>
        <br>
    {% endif %}
    {% if not news %}
        <br>
        <h6>пусто....</h6>
    {% endif %}
    {% for new in news %}
        <br>
        <a href="/news/{{ new.id }}" style="text-decoration: none; color: black;"><div class="content">
            <h3 style="text-align: center">{{ new.title }}</h3>
            <h4 class="alert-heading">{{ new.user.name }} {{ new.user.surname }}</h4>
            <hr>
            <h6 style="text-align: right">{{ new.category }}</h6>
            <h6 style="text-align: left;">
                {{ new.likes }}
            </h6>
        </div></a>
    <h6 style="text-align: right; margin: 1%;">{{ new.string_dt }}</h6>
    {% endfor %}
</div>
{% endblock %}