{% extends "base.html" %}

{% block content %}
<div class="block">
    <a href="{{ user.image }}"><img src="{{ user.image }}" width=28% height=280px
                                    align="left" style="object-fit: fill;"></a>
    <br>
    <h3 style="text-align: center;">{{ title }}</h3>
    <textarea class="profile" disabled>
        {{ user.about }}
    </textarea>
    <br>
    <br>
    <h6>Дата рождения: {{ user.birthday }}</h6>
    <h6>Город: {{ user.hometown }}</h6>
    <h6>Подписчиков: <a style="color: black;" href="/subscribers/{{ user.id }}">{{ user.subs_count }}</a></h6>
    <br>
    {% if user.id == current_user.id %}
        <a class="btn btn-outline-secondary" href="/redact_profile" style="width: 100%; margin-top: 2%;">Редактировать</a>
        <a class="btn btn-outline-secondary" href="/create_news" style="width: 100%; margin-top: 2%;">Создать запись</a>
        <br>
    {% else %}
        {% if subscribed %}
            <a class="btn btn-outline-danger" href="/unsubscribe/{{ user.id }}" style="width: 100%; margin-top: 2%;">Отписаться</a>
        {% else %}
            <a class="btn btn-outline-success" href="/subscribe/{{ user.id }}" style="width: 100%; margin-top: 2%;">Подписаться</a>
        {% endif %}
        <br>
    {% endif %}
    {% for new in news %}
        <br>
        <a href="/news/{{ new.id }}" style="text-decoration: none; color: black;"><div class="content">
            <h3 style="text-align: center">{{ new.title }}</h3>
            <h4 class="alert-heading">{{ new.user.name }} {{ new.user.surname }}</h4>
            <hr>
            <h6 style="text-align: right">{{ new.category }}</h6>
            <h6 style="text-align: left;">
                {{ new.likes }}
            </h6>
        </div></a>
    <h6 style="text-align: right; margin: 1%;">{{ new.string_dt }}</h6>
    {% endfor %}
</div>
{% endblock %}