{% extends "base.html" %}

{% block content %}
<div class="block">
    <a href="{{ user.image }}"><img src="{{ user.image }}" width=280px height=280px align="left"></a>
    <br>
    <h3 style="text-align: center;">{{ title }}</h3>
    <textarea class="profile" disabled>
        {{ user.about }}
    </textarea>
    <br>
    <br>
    <h6>Дата рождения: {{ user.birthday }}</h6>
    <h6>Родной город: {{ user.hometown }}</h6>
    <h6>Друзей: {{ user.friends_count }}</h6>
    <br>
    {% if user.id == current_user.id %}
        <a class="btn btn-outline-secondary" href="/redact_profile" style="width: 100%; margin-top: 2%;">Редактировать</a>
        <a class="btn btn-outline-secondary" href="/create_news" style="width: 100%; margin-top: 2%;">Создать запись</a>
        <br>
    {% else %}
        <a class="btn btn-outline-primary" href="/messages/{{ user.id }}" style="width: 100%; margin-top: 2%;">Отправить сообщение</a>
        {% if friend %}
            <a class="btn btn-outline-danger" href="/delete_friend/{{ user.id }}" style="width: 100%; margin-top: 2%;">Удалить из друзей</a>
        {% else %}
            <a class="btn btn-outline-success" href="/friends/{{ user.id }}" style="width: 100%; margin-top: 2%;">Добавить в друзья</a>
        {% endif %}
        <br>
    {% endif %}
    {% for new in user.news %}
        <br>
        <div class="alert alert-success" role="alert" style="margin: 1%;">
            <a style="text-decoration: none; color: black;" href="/users/{{ new.creator }}">
                <h4 class="alert-heading">{{ title }}</h4>
            </a>
            <hr>
            <textarea class="new" disabled>
                {{ new.content }}
            </textarea>
            <p style="text-align: right">{{ new.date }}</p>
            {% if user.id == current_user.id %}
                <a class="btn btn-success" href="/news/{{ new.id }}">Редактировать</a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}