{% extends "base.html" %}

{% block content %}
<div class="block" style="margin-left: auto; margin-right: auto;">
    <h1>Абсолютно случайная новость</h1>
    <br>
    <div class="content">
        <a style="text-decoration: none; color: black;" href="/users/{{ new.creator }}">
            <h4 class="alert-heading">{{ new.user.name }} {{ new.user.surname }}</h4>
        </a>
        <hr>
        <textarea class="new" disabled>
            {{ new.content }}
        </textarea>
        <h6 style="text-align: right;">{{ new.date }}</h6>
    </div>
</div>
{% endblock %}